name: Test Models
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  test-turing:
    name: Test Turing Models
    runs-on: ubuntu-latest
    env:
      JULIA_NUM_THREADS: "auto"
    strategy:
      matrix:
        jl-file: [
            "01-predictive_checks.jl",
            "02-linear_regression-kidiq.jl",
            "03-logistic_regression-wells.jl",
            "04-ordinal_regression-esoph.jl",
            "05-poisson_regression-roaches.jl",
            "06-robust_linear_regression-duncan.jl",
            #"07-robust_beta_binomial_regression-wells.jl", # FIXME: broken
            #"08-robust_robit_regression-wells.jl", # FIXME: broken
            "09-robust_negative_binomial_regression-roaches.jl",
            "10-robust_zero_inflated_regression-negative_binomial-roaches.jl",
            "10-robust_zero_inflated_regression-poisson-roaches.jl",
            "11-sparse_horseshoe.jl",
            "12-sparse_horseshoe_p.jl",
            "13-sparse_finnish_horseshoe.jl",
            "14-sparse_r2d2.jl",
            "15-hierarchical_varying_intercept-cheese.jl",
            "15-hierarchical_varying_intercept-non_centered-cheese.jl",
            "16-hierarchical_varying_intercept_slope-cheese.jl",
            #"17-model_comparison-roaches.jl", # FIXME: broken upstream in ParetoSmooth.jl
          ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Cache Nix artifacts
        uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Test ${{ matrix.jl-file }}
        run: |
          nix develop -L . --command bash -c "julia -e 'using Pkg; Pkg.instantiate()'"
          nix develop -L . --command bash -c "julia turing/${{ matrix.jl-file }}"

  test-stan:
    name: Test Stan Models
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stan:
          [
            {
              model: "01-predictive_checks-posterior",
              data: "coin_flip.data.json",
            },
            {
              model: "01-predictive_checks-prior",
              data: "coin_flip.data.json",
            },
            { model: "02-linear_regression-QR", data: "kidiq.data.json" },
            {
              model: "02-linear_regression-optimized",
              data: "kidiq.data.json",
            },
            { model: "02-linear_regression", data: "kidiq.data.json" },
            {
              model: "03-logistic_regression-optimized",
              data: "wells.data.json",
            },
            { model: "03-logistic_regression", data: "wells.data.json" },
            {
              model: "04-ordinal_regression-optimized",
              data: "esoph.data.json",
            },
            { model: "04-ordinal_regression", data: "esoph.data.json" },
            {
              model: "05-poisson_regression-optimized",
              data: "roaches.data.json",
            },
            { model: "05-poisson_regression", data: "roaches.data.json" },
            { model: "06-robust_linear_regression", data: "kidiq.data.json" },
            {
              model: "07-robust_beta_binomial_regression",
              data: "wells.data.json",
            },
            { model: "08-robust_robit_regression", data: "wells.data.json" },
            {
              model: "09-robust_negative_binomial_regression-optimized",
              data: "roaches.data.json",
            },
            {
              model: "09-robust_negative_binomial_regression",
              data: "roaches.data.json",
            },
            {
              model: "10-robust_zero_inflated_regression-negative_binomial-optimized",
              data: "roaches.data.json",
            },
            {
              model: "10-robust_zero_inflated_regression-negative_binomial",
              data: "roaches.data.json",
            },
            {
              model: "10-robust_zero_inflated_regression-poisson-optimized",
              data: "roaches.data.json",
            },
            {
              model: "10-robust_zero_inflated_regression-poisson",
              data: "roaches.data.json",
            },
            {
              model: "11-sparse_horseshoe_regression",
              data: "sparse_regression.data.json",
            },
            {
              model: "12-sparse_horseshoe_p_regression",
              data: "sparse_regression.data.json",
            },
            {
              model: "13-sparse_finnish_horseshoe_regression",
              data: "sparse_regression.data.json",
            },
            {
              model: "14-sparse_r2d2_regression",
              data: "sparse_regression.data.json",
            },
            {
              model: "15-hierarchical_varying_intercept-non_centered",
              data: "cheese.data.json",
            },
            {
              model: "15-hierarchical_varying_intercept",
              data: "cheese.data.json",
            },
            {
              model: "16-hierarchical_varying_intercept_slope",
              data: "cheese.data.json",
            },
            {
              model: "17-model_comparison-negative_binomial",
              data: "roaches.data.json",
            },
            { model: "17-model_comparison-poisson", data: "roaches.data.json" },
            {
              model: "17-model_comparison-zero_inflated-negative_binomial",
              data: "roaches.data.json",
            },
            {
              model: "17-model_comparison-zero_inflated-poisson",
              data: "roaches.data.json",
            },
          ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Cache Nix artifacts
        uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Test ${{ matrix.stan.model }}
        run: |
          echo "Compiling: ${{ matrix.stan.model }}"
          nix develop -L . --command bash -c "stan stan/${{ matrix.stan.model }}"
          nix develop -L . --command bash -c "stan/${{ matrix.stan.model }} sample num_chains=4 data file=stan/${{ matrix.stan.data }}"
          nix develop -L . --command bash -c "stansummary output_*.csv"
