name: Pre Commit Checks
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  build-release:
    name: Pre Commit Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Cache Nix artifacts
        uses: DeterminateSystems/magic-nix-cache-action@v6

      - name: Nix pre-commit check
        run: nix develop -L . --command bash -c 'pre-commit run --all-files'
