name: Build and Release Slides

on:
  push:
    tags:
      - "*"

jobs:
  build-release:
    name: Build and Release Slides
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v19

      - name: Cache Nix artifacts
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Build Slides
        run: nix build -L

      - name: Copy result out of nix store
        run: cp -v result/slides.pdf slides.pdf

      - name: Release
        uses: ncipollo/release-action@v1
        id: release
        with:
          artifacts: ./slides.pdf
